@page
@model Front.Pages.Shared.EditarAuditoriaModel
@{
}

<h2>Editar Auditoría</h2>

<form method="post">
    <input type="hidden" asp-for="Auditoria.id" />

    <div class="form-group">
        <label for="Titulo">Título:</label>
        <input asp-for="Auditoria.titulo" class="form-control" />
    </div>

    <div class="form-group">
        <label for="Area">Área:</label>
        <select asp-for="Auditoria.idarea" class="form-control"
                asp-items="@(new SelectList(Model.lAreas, "id", "area", Model.Auditoria.idarea))">
            <option value="">-- Seleccione un área --</option>
        </select>
    </div>

    <div class="form-group">
        <label for="Responsable">Responsable:</label>
        <select asp-for="Auditoria.idresponsable" class="form-control"
                asp-items="@(new SelectList(Model.lResponsables, "id", "nombre", Model.Auditoria.idresponsable))">
            <option value="">-- Seleccione un responsable --</option>
        </select>
    </div>

    <div class="form-group">
        <label asp-for="Auditoria.fechainicio">Fecha inicio:</label>
        <input asp-for="Auditoria.fechainicio" type="date" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Auditoria.fechafin">Fecha fin:</label>
        <input asp-for="Auditoria.fechafin" type="date" class="form-control" />
    </div>

    <div class="form-group">
        <label for="Estado">Estado:</label>
        <select asp-for="Auditoria.idestado" class="form-control"
                asp-items="@(new SelectList(Model.lEstados, "Id", "estado", Model.Auditoria.idestado))">
            <option value="">-- Seleccione un estado --</option>
        </select>
    </div>

    <button type="submit" class="btn btn-primary">Actualizar</button>
    <a asp-page="/Index" class="btn btn-primary ml-2">Listar Auditorias</a>
</form>
